<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flores Rosa Emilia</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header
      class="d-flex justify-content-center align-items-center position-relative"
    >
      <img src="/images/flores_rosa_emilia_logo.svg" alt="" />
      <div class="lan-switch position-absolute d-flex align-items-center">
        <button id="en" onclick="changeLang('en')">English</button>
        <button id="sp" onclick="changeLang('sp')">Spanish</button>
      </div>
    </header>
    <nav class="d-flex justify-content-between align-items-center px-5">
      <div class="menu d-flex align-items-center justify-content-between">
        <a href="/">Home</a>
        <a href="/bouquets">Bouquets</a>
        <a href="/arrangements">Arrangement</a>
        <a href="/boxes">Boxes</a>
        <a href="/extras">Extras</a>
      </div>
      <div>
        <a href=""><img class="icon" src="/images/cart_icon.svg" alt="" />
          <span class="badge badge-warning" id="lblCartCount"> 5 </span>
        </a>
        {{!-- {{#if loggedIn}}
                <button id="logout" class="btn-no-style"><img class="icon" src="/images/logout.svg" alt=""></button>
                {{else}}
                <a href="/login"><img class="icon" src="/images/login.svg" alt=""></a>
            {{/if}} --}}
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
    {{!-- {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}} --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="/js/homepage.js"></script>

  </body>

</html>