<div class="container cart-section d-flex justify-content-between mt-5">
    <div class="left">
      <h5>Shopping List</h5>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item mb-5">
            <h2 class="accordion-header d-flex align-items-center" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                24 Roses Bouquet
                {{!-- {{product.product_name}} --}}
              </button>
              <button class="btn btn-link delete me-md-2" onclick="removeLi" type="button"><img src="/images/delete_icon.svg" alt=""></button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <div class="row">
                  <div class="col order-1">
                    <h5>Pictuture</h5>
                    <img src="/images/WhiteWreath.jpeg" class="w-50" alt="">
                  </div>
                  <div class="col order-2">
                    <h5>Name</h5>
                    <p>24 Roses Bouquet</p>
                    {{!-- <p>{{product.product_name}}</p> --}}
                  </div>
                  <div class="col order-3">
                    <h5>Price</h5>
                    <p>$ 200 USD</p>
                    {{!-- <p>{{product.price}}</p> --}}
                  </div>
                  <div class="col order-4">
                    <h5>Quantity</h5>
                    <input class="form-control" type="number" min="0" value="2">
                    {{!-- <input class="form-control" type="number" min="0" value="{{product.quantity}}"> --}}
                  </div>
                  <div class="col order-5">
                    <h5>Total</h5>
                    <p>$ 200 USD</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item mb-5">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Quinceañera Bouquet
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item mb-5">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                100 Roses Bouquet
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="right w-25">
      <h5>Specail Need</h5>

      <div class="accordion accordion-flush mb-5" id="accordionFlushExample">
            <div class="accordion-item mb-3">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Add Card
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <h5>Receipte Name</h5>
                    <input class="form-control" type="text" >
                    <h5>Note</h5>
                    <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                    <button class="form-control mt-3">Add</button>
                  </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Add Wine
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <input class="form-control" type="text" placeholder="Enter Wine Name">
                  <button class="form-control mt-3">Add</button>
                </div>
              </div>
            </div>
          </div>
      <h5>Note</h5>
      <textarea class="form-control mb-5" name="" id="" cols="30" rows="5" placeholder="Enter what your want about delivery date, time....etc."></textarea>
      <button class="form-control">Checkout</button>
    </div>
  </div>
  