<div class="container cart-section d-flex justify-content-between mt-5">
    <div class="left" id="cart-left">
      <h5>Shopping List</h5>
        <h1 id="empty-cart">Your cart is empty</h1>
    </div>
    <div class="right w-25">
      <h5>Specail Need</h5>

      <div class="accordion accordion-flush mb-5" id="accordionFlushExample">
            <div class="accordion-item mb-3">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Add Card
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <h5>Receipte Name</h5>
                    <input class="form-control" type="text" >
                    <h5>Note</h5>
                    <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
                    <button class="form-control mt-3">Add</button>
                  </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Add Wine
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <input class="form-control" type="text" placeholder="Enter Wine Name">
                  <button class="form-control mt-3">Add</button>
                </div>
              </div>
            </div>
          </div>
      <h5>Note</h5>
      <textarea class="form-control mb-5" name="" id="" cols="30" rows="5" placeholder="Enter what your want about delivery date, time....etc."></textarea>
      <button class="form-control">Checkout</button>
    </div>
  </div>
  <script src="/js/cart.js"></script>
  