<section class="main-block position-relative d-flex flex-column justify-content-center align-items-center">
    <div class="main-img"></div>
    <div class="main-text position-absolute d-flex flex-column justify-content-between align-items-center">
        <h1>Flores Rosa Emlia</h1>
        <button>See More</button>
    </div>
</section>
<section class="home-gallery">

</section>
<section class="about p-5">
    <h2>About Flores Rosa Emlia</h2>
</section>
<section class="contact p-5">
    <h2>Contact Us</h2>
    <p class="mail px-5"><a href="mailto:floresrosaemlia@gmail.com">Send email to Us</a></p>
    <div class="socialIcon-frame d-flex justify-content-center align-items-center">
        <img class="icon social mx-4" src="/images/facebook.svg" alt="">
        <img class="icon social mx-4" src="/images/whatsapp.svg" alt="">
        <img class="icon social mx-4" src="/images/instagram.svg" alt="">
        <img class="icon social mx-4" src="/images/twitter.svg" alt="">
    </div>
</section>