:root {
    --primary: #957DAD;
    --primaryDarker: #625372;
    --secondary: #D291BC;
    --tertiary:#E0BBE4;
    --quatrinary: #e8c4b7;
    --light: #ffffff;
    --dark: #000000;
    --error: rgb(228, 46, 1);
    --border-radius: 0.5rem;
}


body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
}

header img{
    width: 15%;
    height: 15%;
}

nav{
    width: 100%;
    height: 5rem;
}

.menu{
    width: 40%;
}

.icon{
    width: 30px;
}

.icon:hover{
    filter: brightness(0) saturate(100%) invert(88%) sepia(28%) saturate(534%) hue-rotate(308deg) brightness(100%) contrast(83%);
}

a{
    text-decoration: none;
    color: var(--primary);
    font-size: large;
    font-weight: bold;
}

a:hover{
    color: var(--quatrinary);
}

main{
    width: 100vw;
    height: 100vh;
}

.main-block{
    width: 100%;
    height: 100%;
}

.main-img {
    width: 100%;
    height: 100%;
    background-image: url(../Images/PastelPinkPurpleBouquet.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: var(--dark);
    opacity: 0.8;
    filter: brightness(75%);
}

.main-text{
    height: 40%;
    filter: brightness(100%);
}

.main-text h1{
    font-size: 8rem;
    color: var(--primary);
}

button{
    border: none;
    border-radius: var(--border-radius);
    color: var(--light);
    background-color: var(--secondary);
}

button:hover {
    background-color: var(--quatrinary);
}

.main-text button{
    padding: 15px 50px;
}

.about{
    width: 100vw;
    height: 100vh;
}

.contact{
    width: 100vw;
    height: 20vh;
    background-color: var(--quatrinary);
}

.about h2,
.contact h2 {
    color: var(--primary);
}

.mail a:hover{
    color: var(--primaryDarker);
}

.icon.social{
    width: 2rem;
}