:root {
    --primary: #957DAD;
    --primaryDarker: #625372;
    --secondary: #D291BC;
    --tertiary:#E0BBE4;
    --quatrinary: #e8c4b7;
    --light: #ffffff;
    --dark: #4B4B4D;
    --error: rgb(228, 46, 1);
    --border-radius: 0.5rem;
}


body{
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.warp{
    flex-wrap: wrap;
}

/* homepage css */

header{
    width: 100%;
}

header img{
    width: 15%;
    height: 15%;
}

nav{
    width: 100%;
    height: 5rem;
}

nav .right{
    width: 8vw;
}

.menu{
    width: 40%;
}

.icon{
    width: 30px;
}

.icon:hover{
    filter: brightness(0) saturate(100%) invert(88%) sepia(28%) saturate(534%) hue-rotate(308deg) brightness(100%) contrast(83%);
}

a{
    text-decoration: none;
    color: var(--primary);
    font-size: large;
    font-weight: bold;
}

a:hover{
    color: var(--quatrinary);
}

main{
    width: 100vw;
    height: 100vh;
}

.main-block{
    width: 100%;
    height: 100%;
}

.main-img {
    width: 100%;
    height: 100%;
    background-image: url(../Images/PastelPinkPurpleBouquet.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-color: var(--dark);
    opacity: 0.8;
    filter: brightness(75%);
}

.main-text{
    height: 40%;
    filter: brightness(100%);
}

.main-text h1{
    font-size: 8rem;
    color: var(--primary);
}

button{
    border: none;
    border-radius: var(--border-radius);
    color: var(--light);
    background-color: var(--secondary);
}

button:hover {
    background-color: var(--quatrinary);
}

.main-text button{
    padding: 15px 50px;
}

.about{
    width: 100vw;
    height: 100vh;
}

.home-gallery img{
    width: 300px;
    height: 300px;
    object-fit:cover;
    background-color: black;
    filter: brightness(75%);
    opacity: 0.6;
}

.home-gallery img:hover {
    opacity: 1;
    filter: brightness(100%);
}
.gallery-frame{
    flex-wrap: wrap;
}
.contact{
    width: 100vw;
    background-color: var(--quatrinary);
}

.about h2,
.contact h2 {
    color: var(--primary);
}

.mail a:hover{
    color: var(--primaryDarker);
}

.icon.social{
    width: 2rem;
}
.icon.social:hover{
    cursor: pointer;
}
.icon.social.hoverC:active {
    filter: brightness(0) saturate(100%) invert(87%) sepia(75%) saturate(673%) hue-rotate(277deg) brightness(89%) contrast(82%);
}
.icon.social.hoverC:hover {
    filter: brightness(0) saturate(100%) invert(35%) sepia(8%) saturate(1364%) hue-rotate(226deg) brightness(95%) contrast(92%);
}

/* cart show number css */
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 12px;
    background: var(--error);
    color: var(--light);
    border-radius:50% ;
    padding: 5px 8px;
    vertical-align: top;
    margin-left: -10px;
    margin-top: -5px;
    z-index: 1;
}
/* cart show number css end here */

.lan-switch{
    top: 2em;
    right: 2em;
}

.lan-switch button{
    background-color: transparent;
    color: var(--primary);
}

.lan-switch button:hover {
    color: var(--quatrinary);
}

/* homepage end here */


/* card start here */
.bouquets-section{
    flex-wrap: wrap;
}
.card {
    border: none;
    background-color: var(--tertiary);
    padding: 2rem;
    margin: 30px;
    box-shadow: 7px 13px 9px -2px #777474;
}

.carousel-item img{
    /* width: 500px;
        height: 500px; */
        /* object-fit: cover; */
}
.card button:hover{
    background-color: transparent;
}

.addcart-btn{
    background-color: var(--primaryDarker);
    border: none;
}

.addcart-btn:hover{
    background-color: var(--dark);
}
/* card end here */

